@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #365fa1;
}

.hover-cust:hover h6,
.hover-cust:hover svg {
  color: #fff;
}

.hover-cust svg {
  height: 40px;
  width: 40px;
}
